.card{
    background: white;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user {
    display: flex;
    gap: 10px;
    width: 200px;
    align-items: center;
}

.type{
    background-color: red;
    font-size: 12px;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
    font-weight: normal;
    margin-left: 10px;
}

.create {
    background-color: #54d62c29;
    color: #229a16;
}

.delete {
    background-color: #ff484229;
    color: #b72136;
}

.update {
    background-color: rgb(255, 244, 229);
    color: rgb(102, 60, 0);
}

.information{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.viewMore{
    width: 100px;
    display: flex;
    justify-content: flex-end;
}