.changePasswordForm{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}