.action{
    display: flex;
    justify-content: center;
    gap: 15px;
}

@media screen and (max-width: 600px) {
    .action{
        flex-direction: column;
    }

    .action > a > span {
       width: 100%;
    }
}