.button{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.link{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .action{
        flex-direction: column;
    }

    .action > a > span {
       width: 100%;
    }
}